apiVersion: gpu.obs.gpu/v1alpha1
kind: CudaEBPFPolicy
metadata:
  name: cuda-trace-basic
spec:
  libPath: "/usr/lib/x86_64-linux-gnu/libcudart.so"
  image: "emirozbir/gpu-bpf-operator-agent:latest"
  functions:
    - name: "nvidia_open"
      kind: "kprobe"
    - name: "nvidia_unlocked_ioctl"
      kind: "kprobe"
  mode: "pidwatch"