---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: bpfprograms.obs.bpfprograms.io
spec:
  group: obs.bpfprograms.io
  names:
    kind: BpfProgram
    listKind: BpfProgramList
    plural: bpfprograms
    singular: bpfprogram
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BpfProgram is the Schema for the bpfprograms API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: BpfProgramSpec defines the desired state of BpfProgram.
            properties:
              foo:
                description: Foo is an example field of BpfProgram. Edit bpfprogram_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: BpfProgramStatus defines the observed state of BpfProgram.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
